extends layout

block content
  script(type='text/javascript', src='/javascripts/index.js')

  //- Navigationbar
  .navigation-bar.fixed-top.dark
    //- .navigation-bar-content.container Responsive zentriert
    .navigation-bar-content
      //- Brand
      a.element(href='/') 
        span.icon-grid-view.fg-cyan.fg-hover-pink
        | &nbsp;#{AppConfig.title_short}
      span.element-divider

      a#menutoggle.element1.pull-menu(href='#')
      ul#topmenu.element-menu
        //- Menu - System
        li 
          a.dropdown-toggle(href='#') System
          ul.dropdown-menu.dark(data-role="dropdown")
            li
              a(href='#') Main
            li
              a(href='#') Wurst
            li.divider
            li
              a(href='#') Wurst2
        li
          a#nav_print.element.brand(href='#' data-hint="Drucken|Druck mich!")
            span.icon-printer.fg-lightBlue.fg-hover-white

        .element.place-right(data-role="dropdown")
          a.dropdown-toggle(href='#')
            span.icon-cog
          ul.dropdown-menu.place-right.dark(data-role="dropdown")
            li
              a(href='#') Main
            li
              a(href='#') Wurst
            li.divider
            li
              a(href='#') Wurst2
        span.element-divider.place-right

        if user.user
          .element.place-right(data-role="dropdown" data-hint="Benutzer|Benutzeroptionen")
            a.dropdown-toggle(href='#' )
              span.icon-user
              | &nbsp;#{user.user}
            ul.dropdown-menu.place-right.dark(data-role="dropdown")
              li
                a(href='/logout' data-hint="Logout|Benutzer abmelden") Logout
        else
          a#nav_login.element.place-right.no-phone(href='#' data-hint="Login|Benutzer anmelden")
            span.icon-user
            | &nbsp;Login
  div(style="height:40px").no-phone.no-tablet-portrait

  //- Workspace
  h1= AppConfig.title
  h2 User: #{user.user}
  p Welcome to #{AppConfig.title}
  div#vlans
  //
    - for (var x = 0; x < 30; x++)
      p Hallo #{x}

