extends layout

block content
  script(type='text/javascript').
    $('body').css("background-image", "url(/images/bg_login.jpg)");
    $('body').css("background-size", "100%");
    $('#logo').height("140px")
    $(document).ready(function () {
      $.ajaxSetup({ cache: false });
      $('#logo').click( function(){
        UserLogin()
      })
      UserLogin();
    })


  .container
    | <br>
    #logo.bg-violet(data-hint="LOGIN|Click to log in" data-hint-mode="2" data-hint-position="bottom")
      | <br>
      h1.text-center.fg-white()= AppConfig.title 
        sup= AppConfig.version
      h2.text-center.fg-white()= AppConfig.description
      |<br>

    if user.DBCode != "OK"
      .bg-red
        if user.DBCode == "ER_ACCESS_DENIED_ERROR"
          h2.text-center.fg-white User / Password nicht korrekt!
        if user.DBCode == "ECONNREFUSED"
          h2.text-center.fg-white Verbindung zu MySQL auf #{AppConfig.login.MySQLServer} kann nicht hergestellt werden!
        if user.DBCode == "ENOTFOUND"
          h2.text-center.fg-white MySQL-Server #{AppConfig.login.MySQLServer} kann nicht gefunden werden!
        h6.text-center.fg-white (#{user.DBCode})
           
          
